/*UTILITY*/

.floatleft { float: left; }
.floatright { float: right; }

body { margin: 0; font-family: Verdana, sans-serif; color: rgb(100,100,100); }

/*STRUCTURE*/

header { width: 100%; height: 60px; background: rgb(100,100,100); padding: 5px 0; margin-bottom: 5px }
	#logo { width: 200px; height: 60px; background: rgb(200,200,200); float: left; }
	nav { float: left; margin-left: 340px; }
	nav li { display: inline; margin-right: 20px; font-weight: bold; font-size: 18px; }
	nav li a { color: rgb(255,255,255); text-decoration: none; }
	nav li a:hover { color: rgb(150,150,150); text-decoration: underline; }
	.button { width: 150px; height: 30px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 15px 5px 5px; margin: 5px 5px 0 0; border: 1px solid rgb(150,150,150); border-radius: 5px; cursor: pointer; }
	.button a { color: rgb(100,100,100); text-decoration: none; }
	.button:hover { background: linear-gradient(#969696, #c8c8c8); }

section.hero { width: 100%; height: 460px; background: url(bgplaceholder.jpg); background-size: 100% 100%; padding: 5px 0; margin-bottom: 20px; }
	.heroimage { width: 850px; height: auto;background: rgb(150,150,150); float: left; margin: 0 auto; }
	.herocontent { width: 400px; float: left; margin-left: 20px; padding-top: 40px; }
	section.hero h1 { font-size: 30px; margin-bottom: -10px; }
	section.hero p { margin-bottom: 60px; }
	section.hero .button { width: 225px; height: 40px; padding-top: 25px; font-size: 20px; margin: 0 auto; }

section.features { width: 1500px; height: 350px; background: rgb(220,220,220); margin: 0 auto 5px; padding: 5px 0; }
	section.features h2 { font-size: 25px; text-align: right; margin-bottom: -20px; }
	section.features h4 { font-weight: normal; text-align: center; margin-bottom: 60px; }
	section.features aside { width: 286px; height: 200px; float: left; text-align: center; margin-left: 20px; justify-content: center;}
	section.features aside img { width: 100%; height: 150px; background: rgb(200,200,200); }

footer { width: 100%; height: 60px; background: rgb(200,200,200); padding: 5px 0; text-align: center; }

.container { width: 1500px; height: 100%; margin: 0 auto; justify-content: center; }